.input-field .prefix.active {
  color: rgb(113, 94, 121) !important;
}

/* выбираем цвет подсветки — светло-зелёный*/

.highlight {
  background: rgb(113, 94, 121) !important;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgb(113, 94, 121) !important;
  -webkit-box-shadow: 0 1px 0 0 rgb(113, 94, 121) !important;
  box-shadow: 0 1px 0 0 rgb(113, 94, 121) !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
  font-size: 16px;
  color: rgb(113, 94, 121) !important;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
  + label,
input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: rgb(113, 94, 121) !important;
}

.table-header {
  font-size: 19px;
}

.elastic .hide {
  display: none;
}

mark {
  background: rgb(113, 94, 121);
}

.elastic {
  margin: 0 !important;
}

.material-icons {
  cursor: default;
}

.display {
  display: block;
}
