body {
  margin: 0;
  padding: 0;
  border: 0;
}

.nav-wrapper {
  background-color: #d1d1d1;
}

.nav-link {
  color: black;
}

.about {
  margin-top: 10px;
}

.about-heading {
  margin: 0 0 15px 0;
  font-weight: 700;
}

.about-text {
  margin: 0 0 0 0;
  font-size: 30px;
}

.overview {
  margin-top: 30px;
  border-radius: 10px;
}

.about-col {
  margin-top: 130px;
}

.about-span {
  margin-top: 10px;
  color: rgb(27, 0, 58);
  font-size: 20px;
  font-weight: 600;
}

.button-container {
  margin-top: 15px;
}

.notactive {
  cursor: not-allowed;
}

.dropdown-trigger {
  color: black;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1.5px solid #ccc;
}

@media screen and (min-width: 1300px) {
  .overview {
    width: 410px;
    height: 574px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1299px) {
  .overview {
    width: 310px;
    height: 474px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .overview {
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 700px) and (max-width: 799px) {
  .overview {
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 600px) and (max-width: 699px) {
  .overview {
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
  .overview {
    width: 0;
    height: 0;
  }
}

@media screen and (min-width: 300px) and (max-width: 499px) {
  .overview {
    width: 0;
    height: 0;
  }
}
