:focus {
  outline: 0;
}

.navigations {
  margin: 0px;
  z-index: 2;
  position: fixed;
  top: 92%;
  left: 0;
}

.back,
.view {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #e2e2e2;
  background: rgb(37, 37, 37);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border: rgb(37, 37, 37);
  cursor: pointer;
}

.back:hover,
.view:hover {
  background: #ffffff;
  box-shadow: 0 15px 20px rgba(255, 255, 255, 0.4);
  color: rgb(0, 0, 0);
  border: #ffffff;
  transform: translateY(-7px);
}

header {
  text-align: center;
}

a {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: rgb(6, 32, 0);
}

p {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}

figcaption {
  text-align: left;
  margin-top: 2px;
  margin-left: 30px;
  color: rgb(56, 56, 56);
}

h1 {
  text-align: left;
}

h2 {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
  color: grey;
  font-style: oblique;
}

#square {
  border-color: #c7c7c7;
  background: #e4e4e4;
  /*  * Колір фона під заголовком */
  color: rgb(54, 54, 54);
  /*  * Колір тексту */
  padding: 40px;
}

#footsquare {
  border-radius: 2px;
  border-color: #c7c7c7;
  background: #e4e4e4;
  /*  * Колір фона під заголовком */
  color: rgb(54, 54, 54);
  /* * Колір тексту */
  padding: 2px;
}

.fig {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(56, 56, 56);
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
